@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  box-sizing: border-box;

  font: normal 100%/1.3 Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  margin: 0;
  padding: 0;

  background-color: #666;
  color: #fff;

  font-family: Righteous, sans-serif;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: .5em 0;
  margin: 0 1em;
}
.name {
  margin: 0;
  text-align: center;

  font-size: 2rem;
}

.img-logo {
  display: block;
  width: 40px;
}

.nav-head {
  margin: 0;
}

.nav-head ul {
  display: flex;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style-type: none;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.nav-head ul li {
  margin: 0;
  flex-grow: 0;

  font-size: 1.5rem;
  text-align: center;
}

.nav-head ul li:nth-child(2) {
  border-right: 1px solid #333;
  border-left: 1px solid #333;
}

.nav-head ul li:nth-child(3) {
  flex-grow: 1;
}

.nav {
  display: block;
  padding: .5em;
  text-decoration: none;
  color: #fff;
}

.nav:hover {
  background-color: #333;
}

.current {
  background-color: #888;
}

.info {
  margin: 0;
  padding: 0 .5em;
}

.tagline {
  margin: 0;
  padding: 1em .5em;

  font-size: 1.5rem;
  font-family: Righteous, sans-serif;
  text-align: center;
}

.m-img {
  display: block;
  width: 100%;
}

.abt {
  margin: 0;
  padding: 1em;

  border-bottom: 2px dotted #888;

  font-style: italic;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: .5em 0;
  margin: 0 1em;
}

.top,
.new {
  margin: 0 1em;
}

.t-pro {
  margin: 0 0 1em;
  padding-bottom: 1em;

  border-bottom: 2px dashed #eee;
}

.t-pro:last-child {
  margin: 0;
}

.tlt {
  font-family: Righteous, sans-serif;
  font-size: 1.75rem;

  margin: .5em 0;

  text-decoration: underline;
}

.t-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 15em;
}

.ts-text {
  display: block;
  margin: 1em auto 0;
  padding: .5em .8em;
  max-width: 18em;

  background-color: #ddd;
  border-radius: 8px;
}

.ts-text h3 {
  margin: 0 0 1em;

  font-family: Righteous, sans-serif;
  font-size: 1.3rem;
}

.ts-text p {
  margin: 0 0 1em;
}

.ts-text div {
  margin: 0 0 .5em;
  text-align: right;
}

.txt {
  font-weight: bold;
}

.btn-ts {
  display: inline-block;
  padding: .5em .75em;

  background-color: #ccc;
  color: #333;
  border: 2px solid #555;
  border-radius: 7px;
  text-decoration: none;

  font-size: 1em;
  font-weight: bold;
}

.btn-ts:hover {
  background-color: #333;
  color: #fff;
  border: 2px solid #333;
}

.n-pro {
  margin: 0 0 1em;
  padding-bottom: 1em;

  border-bottom: 2px dashed #eee;
  text-align: center;
}

.n-pro:last-child {
  border-bottom: none;
}

.link-pro {
  text-decoration: none;
}

.n-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 15em;
}

.btn-wrap {
  margin: 1em 0;
}

.btn-new {
  font-family: Righteous, sans-serif;
  font-size: 1.1rem;

  text-decoration: none;
  color: #222;
}

.link-pro:hover .btn-new {
  background-color: #ddd;
  color: #333;
  border: 2px solid #bbb;
  border-radius: 12px;

  padding: .5em;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  background-color: #666;
  color: #fff;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

.social {
  margin: 1em 0;
  padding: 0;
  list-style-type: none;
}

.social > li {
  margin: .5em;
  width: 2em;
}

.soc-img {
  display: block;
  width: 100%;
}

.copyright {
  display: inline;
  position: absolute;
  align-items: center;
  bottom: 1em;
  left: 7em;
}

.links {
  display: inline-block;
  padding: 0 1em;
}

.footer-tlt {
  margin: 0 0 .8em;

  text-align: right;
  font-family: Righteous, sans-serif;
  font-size: 1.4rem;
}

.footer-list {
  margin: 0 0 1em;
  padding: 0;

  text-align: right;
  list-style-type: none;
}

.footer-list a {
  color: #fff;
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.hide-link {
  display: none;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  .nav-head ul li {
    margin: 0;
    flex-grow: 1;

    font-size: 1.5rem;
    text-align: center;
  }

  .nav-head ul li:nth-child(2) {
    flex-grow: 1;
  }

  .nav-head ul li:nth-child(3) {
    flex-grow: 1;
  }

  .ts-text {
    max-width: 38em;
  }

  .copyright {
    left: 10.5em;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .t-pro {
    max-width: 60em;
    text-align: center;
  }

  .img-flex {
    display: inline-block;
    vertical-align: top;
  }

  .ts-text {
    display: inline-block;
    margin-top: 0;
    margin-left: 1em;
    max-width: 16em;
    text-align: left;
  }

  .new {
    text-align: center;
  }

  .n-pro {
    display: inline-block;
    margin: 0 1em 1em;

    max-width: 15em;
  }

  .n-pro:nth-child(4) {
    border-bottom: none;
  }

  .n-img {
    display: block;
    margin: 0;
    max-width: 13em;
  }

  .btn-wrap {
    margin: 1em 0 0;
  }

  .btn-new {
    font-size: .84rem;
  }

  .social {
    flex-grow: 3;
  }

  .social > li {
    margin: .8em 1em;
  }

  .links {
    flex-grow: 0;
  }

  .first-link {
    margin-bottom: 1.2em;
  }

  .hide {
    display: none;
  }

  .hide-link {
    display: inline-block;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .m-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 45em;
  }

  .top {
    text-align: center;
  }

  .t-pro {
    display: inline-block;
    margin: 0 1em 1em;
    padding-bottom: 1em;
    max-width: 16em;
  }

  .t-pro:last-child {
    display: block;
    margin: 0 auto;
  }

  .t-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 12em;
  }

  .ts-text {
    display: block;
    margin: 1em 0 0;
    padding: .5em .8em;
    max-width: 16em;
  }

  .new {
    text-align: center;
  }

  .n-pro {
    display: inline-block;
    margin: 0 3em 1em;
    position: relative;

    max-width: 45em;
  }

  .n-pro:nth-child(4) {
    border-bottom: none;
  }

  .n-img {
    display: block;
    margin: 0;
    max-width: 18em;
  }

  .btn-wrap {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2.5em;

    background-color: rgba(0, 0, 0, .5);
    border-radius: 8px;
  }

  .wrap-1 {
    left: .5em;
  }

  .wrap-2 {
    left: 2.3em;
  }

  .wrap-3 {
    left: .4em;
  }

  .wrap-4 {
    left: .4em;
  }

  .btn-new {
    display: inline-block;
    color: #eee;
    padding: .4em;
  }

  .link-pro:hover .btn-new {
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border: none;
    border-radius: 8px;

    padding: .4em;
  }

  .social > li {
    margin: .8em 1.5em;
  }

  .copyright {
    left: 24em;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  header div {
    padding: 0;
  }

  .name {
    margin: 0 1.5em;
  }

  .nav-head {
    display: block;
  }

  .nav-head ul {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    padding: 0;

    border: none;
  }

  .nav-head ul li {
    display: inline-block;
    text-align: center;
  }

  .nav-head ul li:nth-child(2) {
    border-right: none;
    border-left: none;
  }

  .nav {
    display: inline-block;
  }

  .m-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 45em;
  }

  .t-pro:last-child {
    display: inline-block;
    margin: 0 1em 1em;
  }

  .n-pro {
    margin: 0 1.8em 1em;
    max-width: 90em;

    border-bottom: none;
  }

  .n-img {
    width: 100%;
    max-width: 18em;
  }

  .wrap-1 {
    left: .4em;
  }

  .wrap-2 {
    left: 2em;
  }

  .wrap-3 {
    left: .3em;
  }

  .wrap-4 {
    left: .3em;
  }

  .btn-new {
    padding: .3em;
    font-size: .8em;

    text-align: left;
  }

  .link-pro:hover .btn-new {
    padding: .3em;
  }

  .copyright {
    left: 38em;
  }

}
